<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.demo.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.zj.demo.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="findUserById" resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>
    <select id="findUserByIds" resultType="com.zj.demo.entity.User">
        select *
        from users
        <where>
            <if test="list != null and list.size() > 0">
                id in
                <foreach collection="list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>